.post {
    width: max(29vw, 29rem);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}
.postTopRight {
    display: flex;
    align-items: center;
}
.postTopLeftRight {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
    margin: 0 10px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    border-radius: 0.75rem;
    max-height: 500px;
    object-fit: contain;
}

.postText {
    font-size: 15px;
}
.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.commentInput {
    border: none;
    width: 80%;
    white-space: pre;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.writeComment {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
}
.commentInput:focus {
    outline: none;
}

.commentButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.commentOption {
    padding: 7px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    border-radius: 5px;
    border: '1px solid gray';
    cursor: pointer;
}

.commentIcon {
    font-size: 18px;
    margin-right: 3px;
}

.commentOptionText {
    font-size: 14px;
    font-weight: 500;
}
